
@{
    ViewBag.Title = "Recieving";
}

<h2>Receiving</h2>

<form action="/action_page.php">
    
    <div class="form-group">
        <label for="ArriveDate">Arrival Date:</label>
        <input type="date" class="form-control" id="ArriveDate" >
    </div>

    <div class="form-group">
        <label for="OrdID">Order ID:</label>
        <input type="number" class="form-control" id="OrdID">
    </div>
   
    @Html.ActionLink("Submit", "RecievingInformation", "Singapore", null, new { @class = "btn btn-default" })
</form>

