@model IEnumerable<NWLabs.Models.Assay>
@{
    ViewBag.Title = "New Order";
}

<h2>New Order</h2>

<div class="container-fluid">
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@item.AssayID">
                <h4 class="panel-title" style="display:inline; color:black;">
                    @item.AssayName
                </h4>
                <h3 class="panel-title pull-right" style="display:inline; color:black;">
                   Quote Price: $@(item.Order_Details.Count)00.00
                </h3>
            </a>
        </div>

        <div id="collapse-@item.AssayID" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table">
                    @foreach (var test in item.Tests)
                {
                        <tr><td>@test.TestName</td></tr>
                        
                }
                </table>
                
                <h4>Assay Tests:</h4>
            </div>
        </div>
    </div>
}

    <div class="row">
        <div class="col-md-4 col-md-offset-10">
            <button class="btn btn-primary">Sumbit Order</button>
        </div>
    </div>
</div>