@{
    ViewBag.Title = "About Northwest Labs";
}
<div class="row callpic">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="text-center titlecontact" style="font-family:'Gill Sans MT'; font-size: 5em">@ViewBag.Title</h1>
        <br />

        
        <img src="~/Content/Dimages/used-lab-equipment.jpg" class="img-rounded center-block img-responsive" style="width:100%" alt="Wedding Contact">
    </div>
    <img />
    <div class="col-md-3"></div>
</div>

<p  style="font-size:130%">
    
   <br />
    Northwest Labs was founded in 1965 in Seattle, Washington.  At our inception, we serviced only a few local pharmacists and drug manufacturers out of a highschool chemistry lab.
    In the years since, we have grown to be an international industry leader. In 2000 we transferred our testing to a state-of-the-art facility in Singapore to be able to provide better, faster service. 
    Through all that growth, however, we haven't forgotten our roots.
    We still hold to our commitment of fast, thorough and accurate reporting. We understand the sensitive nature of the food and drug industry today, and go to great lengths to ensure the confidentiality,
    and anonymity of our clients and the compounds they trust to our care.
    <br /> <br />
    We want to help our clients make the world's quality of life better. To do that, we ensure every test we perform is carefully scrutinized, and run several times. 
    We are a CDER recognized test facility. CDER also recognizes our test as accurate, and trustworthy; so, if it passes the right tests with us, it will also pass 
    the governments strict specifications.
    
    
 
</p>