@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/rachelStyles.css" rel="stylesheet" />

<div class="row aboutrow">
    <div class="col-xs-6">
        <img class="contactphoto" src="~/Content/customerservice.jpg" /> <!--Customer Service Image-->
    </div>
    <div class="col-xs-6">
        <div class="row aboutstripe">
            <h2><strong>Contact Northwest Labs</strong></h2>
        </div>
        <h3>Seattle Customer Service Office</h3>
        <address class="aboutaddress">
            1644 Pineview Way<br />
            Seattle, WA 98136<br />
            Call at <strong>206.555.0100</strong>
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">support@northwestlabs.com</a><br />
            <strong>Sales :</strong> <a href="mailto:Marketing@example.com">sales@northwestlabs.com</a>
        </address>
        <p class="contactdisclaimer">
            <strong>New here?</strong> Contact one of our representatives at
            <strong>206-688-9854</strong> to help you set up your account.
        </p>
    </div>
</div>
