@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/rachelStyles.css" rel="stylesheet" /> <!--Rachel's styles to customize home page-->


<div class="jumbotron">
    <h1>Northwest Labs</h1>
    <p class="lead">Ensuring safety using science.</p>
    <!---<p><a href="https://asp.net" class="btn btn-primary btn-lg"> &raquo;</a></p>--->
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Place an Order</h2>
        <p>
            At Northwest Labs, we will test your compound to ensure it applies with safety regulations. 
            The first step is registering for a Northwest account, or clicking the Order tab if you are already registered with us. 
            If you would like to know more about the tests we offer, click the catalog tab. 
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Catalog","Home")>Catalog &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View the Status of your Order</h2>
        <p>Our online portal allows you to see the status of your order as it moves through the testing process</p>
        <p><a class="btn btn-default" href=@Url.Action("myAccount","Accounts")>My Orders &raquo;</a></p>
    </div>
   
</div>
