@model NWLabs.Models.myAccount
@{
    ViewBag.Title = "My Account";
    decimal? balance = new decimal?();
    balance = 0;
}

<h2>My Account</h2>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            
            <h3 style="text-align:left;float:left;">@Model.account.CompanyName</h3>
            
        </div>

        <div class="col-md-3">
            @foreach (var orders2 in Model.orders)
            { 
                 foreach(var invoice in orders2.order.Invoices)
                 {
                     balance += invoice.InvoiceTotal;
                 };
            }
            <h3 style="text-align:right;float:right;">Balance: $@balance</h3> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
           
            <table class="table">
                <th>Order #</th>
                <th>Reports</th>
                <th>Status</th>
                <th>Payment Due</th>

                @foreach (var item in Model.orders)
                {
                
                    <tr>
                        <td><a href=@Url.Action("myOrders", "Accounts",new { id = item.order.OrderID }, null)>Order #@item.order.OrderID</a></td>
                        <td>@Html.ActionLink("Summary Report", "Report", "Accounts", new { id = item.order.SummaryReport },null) </td>
                        <td>@item.status.StatusDesc</td>
                            @foreach (var invoice in item.order.Invoices)
                            {
                                <td>Payment Due: $@invoice.InvoiceTotal</td>
                            }
                        
                    </tr>
                   
                }
              
       
            </table>
        </div>
    </div>
</div>

