@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Viewbag.Title = "My Account";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            MY ACCOUNT NAME
        </div>

        <div class="col-md-3">
            BALANCE:
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <th>ORDERS</th>

            </table>
        </div>
    </div>
</div>

