
@{
    ViewBag.Title = "myAccount";
}

<h2>myAccount</h2>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            MY ACCOUNT
        </div>

        <div class="col-md-3">
            BALANCE:
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <th>Orders</th>
                <th>Reports</th>
                <th>Status</th>
                <th>Payment Due</th>


                <tr>
                    <td>Order#</td>
                    <td>Summary Report</td>
                    <td>Order Status</td>
                    <td>Payment Due: $</td>
                </tr>
       
            </table>
        </div>
    </div>
</div>

